[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}
.comment-editer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

::ng-deep {
  .ant-drawer-body {
    padding-bottom: 0px;
  }
}
