<section class="gap">
  <div class="container">
    <div class="heading-two">
      <h2>Recent News</h2>
      <div class="line"></div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="recent-news">
          <img alt="recent-news" src="https://via.placeholder.com/260x280" />
          <div>
            <a href="#"><span>29 December, 2023</span></a>
            <a href="blog-details.html"
              ><h3>Table restaurant located in on Bank Street</h3></a
            >
            <div class="d-flex align-items-center">
              <img
                alt="img"
                class="me-3"
                src="https://via.placeholder.com/55x55"
              />
              <h6>by Thomas Walimes</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="recent-news">
          <img alt="recent-news" src="https://via.placeholder.com/260x280" />
          <div>
            <a href="#"><span>29 December, 2023</span></a>
            <a href="blog-details.html"
              ><h3>Craig Davies appointed executive head chef of Burgh</h3></a
            >
            <div class="d-flex align-items-center">
              <img
                alt="img"
                class="me-3"
                src="https://via.placeholder.com/55x55"
              />
              <h6>by Thomas Walimes</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
