<section class="gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="bbq"
          style="background-image: url(https://via.placeholder.com/630x366)"
        >
          <h2>Steaks & BBQ</h2>
          <p>
            canonical classics to obscure<br />
            tiki drinks
          </p>
          <div class="bbr-price">
            <div>
              <h3>$120</h3>
              <span>per person</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="bbq mb-0"
          style="background-image: url(https://via.placeholder.com/630x366)"
        >
          <h2>Cocktails</h2>
          <p>
            canonical classics to obscure <br />
            tiki drinks
          </p>
          <div class="bbr-price">
            <div>
              <h3>$120</h3>
              <span>per person</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
