<section class="gap no-top">
  <div class="container">
    <div class="heading-two">
      <h2>Meet Our Experts</h2>
      <div class="line"></div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6">
        <div class="chef">
          <img alt="cook chef" src="https://via.placeholder.com/392x505" />
          <div class="chef-text">
            <div>
              <span>Dessert specialist</span>
              <a href="chef-details.html"><h3>Thomas Walim</h3></a>
              <ul class="social-media">
                <li>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
              </ul>
              <img alt="sine" src="assets/img/sine.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="chef">
          <img alt="cook chef" src="https://via.placeholder.com/392x505" />
          <div class="chef-text">
            <div>
              <span>Chef Master</span>
              <a href="chef-details.html"><h3>James Jhonson</h3></a>
              <ul class="social-media">
                <li>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
              </ul>
              <img alt="sine" src="assets/img/sine.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="chef mb-0">
          <img alt="cook chef" src="https://via.placeholder.com/392x505" />
          <div class="chef-text">
            <div>
              <span>Dessert specialist</span>
              <a href="chef-details.html"><h3>Room Minal</h3></a>
              <ul class="social-media">
                <li>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
              </ul>
              <img alt="sine" src="assets/img/sine.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
