<div class="container" style="margin-bottom: 24px">
  <div href="#" class="button title-dashboard">Thống kê</div>
  <div class="row dashboard">
    <div class="col-lg-3">
      <div class="dashboard-item">
        <div class="icon-dashboard">icon</div>
        <div class="value-wrapper">
          <div class="title">Món ăn</div>
          <div class="value">1.000.000 VNĐ</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="dashboard-item">
        <div class="icon-dashboard">icon</div>
        <div class="value-wrapper">
          <div class="title">Món ăn</div>
          <div class="value">1.000.000 VNĐ</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="dashboard-item">
        <div class="icon-dashboard">icon</div>
        <div class="value-wrapper">
          <div class="title">Món ăn</div>
          <div class="value">1.000.000 VNĐ</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="dashboard-item">
        <div class="icon-dashboard">icon</div>
        <div class="value-wrapper">
          <div class="title">Món ăn</div>
          <div class="value">1.000.000 VNĐ</div>
        </div>
      </div>
    </div>
  </div>
  <div href="#" class="button title-dashboard">Biểu đồ</div>
  <div class="row chart">
    <div class="col-lg-5">
      <div class="chart-wrapper">
        <div style="display: block">
          <canvas
            baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [type]="'line'"
          ></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="chart-wrapper"></div>
    </div>
  </div>
</div>
