/* You can add global styles to this file, and also import other style files */
.font-alkatra {
  font-family: "Alkatra", cursive;
}
.font-Odibee {
  font-family: "Odibee Sans", cursive;
}
.font-Roboto {
  font-family: "Roboto", sans-serif;
}
