<nz-skeleton [nzLoading]="false">
  <div class="product-type">
    <div class="line-before"></div>
    <div class="product-type-title">Sản Phẩm</div>
    <div class="line-after"></div>
  </div>
  <div nz-row class="list-product">
    <div class="product-item">
      <app-product-card></app-product-card>
    </div>
    <div class="product-item">
      <app-product-card></app-product-card>
    </div>
    <div class="product-item">
      <app-product-card></app-product-card>
    </div>
    <div class="product-item">
      <app-product-card></app-product-card>
    </div>
    <div class="product-item">
      <app-product-card></app-product-card>
    </div>
    <div class="product-item">
      <app-product-card></app-product-card>
    </div>
    <div class="product-item">
      <app-product-card></app-product-card>
    </div>
    <div class="product-item">
      <app-product-card></app-product-card>
    </div>
  </div>
</nz-skeleton>
